.carousel-caption{
  h1 {
    text-shadow: -1px -1px white, 1px 1px #333;
    font-size: 60px;
    padding: 20px;
    color: white;
    text-shadow: 3px 3px 5px black;
    margin-bottom: 30px;  
    font-weight:500;   
  }
  p {
  
  }
}