.carousel-caption{
  text-shadow: -1px -1px 1px black, 3px 3px 5px black;
  h1 {
    font-size: 60px;
    padding: 20px;
    color: white;
    margin-bottom: 10px;  
    font-weight:500;   
  }
  p {
    font-size: 24px;
    margin-bottom: 16px;
  }
}