.post{
  .subhead {
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    color: white;
    text-shadow: 3px 3px 5px black;
    margin-bottom: 30px;
    white-space: nowrap;
  }
  
  .subhead h1 {
    font-size: 60px;
  }
  
  .subhead p {
    font-size: 24px;
    font-weight: 300;
  }
  
  div.aboutauthor{
    padding-top: 25px;
    p {
      font-size: 14px;
    }
  }

  font-size: 18px;
  line-height: 160%;
  
  h1,h2,h3,h4,h5,h6 {
    font-weight: 100;
    margin-top: 30px;
  }
  h2,h3,h4,h5,h6 {
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    padding: 5px;
  }
  .noborder {
    border: none;
  }
  .lowercase {
    text-transform: lowercase;
  }
  section.content {
    height: 100%;
    min-height: 100%;
    padding: 10px;
    .video,
    img {
      display: block;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
    }
    img {
      max-width: 70%;
      max-height: 70%;
      &.noclip {
        clear: both;
        display: inline-block;
      }
    }
  
    h1:first-child {
      margin-top: 20px;
    }
    h1 a {
      text-transform: uppercase;
      font-size: 1.1em;
      font-weight: 100;
    }
    h1.thin {
      font-size: 2em;
      margin-top: 0;
    }
    h1.big.thin {
      font-size: 3em;
    }
    section.byline {
      font-size: 0.8em;
      text-transform: uppercase;
      padding-bottom: 15px;
      color: #999;
    }
    p {
      color: #555;
    }
    &.about p,
    &.error {
      text-align: center;
      font-size: 1.3em;
      font-weight: 100;
    }
    &.error h1 {
      color: #f5f5f5;
      font-size: 10em;
      font-weight: bold;
      padding: .5em;
      text-shadow: 0px 1px 5px #aaa;
    }
    div.pull {
      padding-top: 20px;
    }
  }
}