<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>OpenCPU - {{ page.title }}</title>

  <meta name="author" content="{{ site.author.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- for social media preview stuff -->
  <link rel="image_src" href="{{ page.prefix }}images/mediumlogo.jpg"/>  
  <meta name="title" content="OpenCPU - {{ page.title }}" />

  <!-- for RSS readers and aggregators -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ page.prefix }}atom.xml" />

  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{{ page.prefix }}css/pages.css" >

  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ page.prefix }}apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ page.prefix }}apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ page.prefix }}apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="{{ page.prefix }}apple-touch-icon-57x57-precomposed.png">
  <link rel="shortcut icon" href="{{ page.prefix }}favicon.ico">
  
  <script src="{{ page.prefix }}js/jquery.min.js"></script>
 
</head>

<body>
	<div id="wrap">

    <div class="navbar navbar-inverse navbar-default navbar-fixed-top fancy">
      <div class="container">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="{{ page.prefix }}."><img src="{{ page.prefix }}images/opencpulogo.png" alt="logo"/></a>
         </div>
         <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
            <li><a title="Blog" href="{{ page.prefix }}blog.html">Blog</a></li>
            <li><a title="API" href="{{ page.prefix }}api.html">API</a></li>
            <li><a title="Download" href="{{ page.prefix }}download.html">Download</a></li>
            <li><a title="Apps" href="{{ page.prefix }}apps.html">Apps</a></li>
            <li><a title="JS library" href="{{ page.prefix }}jslib.html">JS lib</a></li>
            <li><a title="FAQ" href="{{ page.prefix }}faq.html">FAQ</a></li>
            <li><a title="Demo server" href="{{ page.prefix }}demo.html">Demo</a></li>
            <li><a title="Research" href="{{ page.prefix }}research.html">Research</a></li>
         </ul>
         <ul class="nav navbar-nav pull-right">
           <li><a title="Atom Feed" href="{{ page.prefix }}atom.xml"><i class="icon icon-rss-sign"></i></a></li>
         </ul>            
         </div>
      </div>
    </div>

	  
	  
	  
	  
	  {{ content }}
	  
	  <div id="push"></div>
  </div>

  <div id="footer" class="hidden-print fancy">
    <section class="meta">
      <div class="container">
        <div class="row">
        
          <div class="col-lg-2 col-lg-offset-2 col-sm-3 col-xs-6">
            <a href="http://www.opencpu.org">
              <i class="icon icon-home icon-4x"></i>OpenCPU Home
            </a>
          </div>        
        
          <div class="col-lg-2 col-sm-3 col-xs-6">
            <a href="https://twitter.com/opencpu">
              <i class="icon icon-twitter icon-4x"></i>OpenCPU on Twitter
            </a>
          </div>

          <div class="col-lg-2 col-sm-3 col-xs-6">
            <a href="https://github.com/jeroenooms/opencpu">
              <i class="icon icon-github icon-4x"></i>Github Development
            </a>
          </div>
          
          <div class="col-lg-2 col-sm-3 col-xs-6">
            <a href="https://github.com/opencpu">
              <i class="icon icon-archive icon-4x"></i>OpenCPU Apps
            </a>
          </div>
                              
        </div>
      </div>
    </section>
  </div>
  {% include analytics.html %}

	<script src="{{ page.prefix }}js/bootstrap.min.js"></script>
	<script src="{{ page.prefix }}js/jquery.scrollTo.min.js"></script>
	<script src="{{ page.prefix }}js/pages.js"></script>

</body>
</html>