---
layout: layout
prefix: "../../"
---
<div class="post">
	<header class="subhead hidden-xs" id="topheader" style="background-image: url('{{ page.prefix }}covers/{{page.cover}}');">
	</header>
	
	<div class="container">
	  <div class="row">
	    <div class="col-md-3 col-visible-md hidden-xs hidden-sm">
	      {% include author.html %}
	      {% include social.html %}
	    </div>
	    <div class="col-md-9">
	    	<h1>{{page.title}}</h1> 
	 		<p class="lead">{{ page.date | date: "%B %e, %Y" }}</p>
			<hr>
	    	{{ content }}
	    </div>
	    <div class="col-md-offset-3 col-md-9 mydisqus">
	      {% include disqus.html %}
            </div>
	  </div>
	</div>
</div>
